/* Page par défaut */
    body {
        margin: 0;
        font-family: Arial, sans-serif;
        background:#2c2e47;
        background-image: url('./images/Background_2.jpg');

        /* couleur  du texte et fond par défaut */
        color: white;
        background-size: cover;

        overflow-y:hidden;
    }
/* */

/* Navbar horizontale transparente */
    #navbar {
        position:fixed;
        top: 0;
        left: 0;
        width: 100%;
        height : 100px;

        /* Contenu de la barre de navigation */
        display: flex;
        justify-content: center;
        padding: 25px;

        /* Couleur de fond */
        background-color: rgba(50, 50, 65, 0.9); /* Bleu foncé légèrement transparent */

        /* Position de l'élément en profondeur. 0 serait sur la scrollbar */
        z-index: 10;

        opacity: 1; /* Visible par défaut */
        flex-direction: row;
        box-sizing: border-box;
    }

    /* conteneur des éléments du sommaire */
    .links ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        padding: 0;
        gap: 20px; /* Espacement entre les liens */
    }

    /* Liens lnkedin et github */
    .social-links  {
        margin-top: 10px;
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 10px; /* Espacement entre les liens */
    }

    /* éléments de la liste */
    .links li {
        margin: 0px 10px 0px 10px;
    }

    /* Texte du sommaire */
    .links a {
        color: white;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 10px; /* Espacement entre icône et texte */
        font-size: 1em;
    }

    .links a:hover {
        transition: color 0.5s ease;
        color: #ff7d00; /* Orange */
    }

    /* Styles des icônes du sommaire */
    .links .icon {
        font-size: 1.2em;
        display: inline-block;
    }
/* */


/* Contenu principal */
    .ScreenSection {
        display: flex;
        align-items: center;
        justify-content: center;
        animation: fadeIn 1s ease-in-out;
        font-size: 20px;
        background: rgba(45, 45, 70, 0.9);
        flex-direction: column; /* Les éléments s'empilent verticalement */
    }

    #section1 {
        background-color: rgba(0, 0, 0, 0);
        font-size: 30px;
        height: 100vh;
        /* Bordure du texte pour le rendre plus lisible */
        text-shadow: 2px 0 #323232, -2px 0 #323232, 0 2px #323232, 0 -2px #323232,
            1px 1px #323232, -1px -1px #323232, 1px -1px #323232, -1px 1px #323232;
    }

    #section2 {
        color: white;
        height: 100vh;
    }

    #section2 p{
        width: 80%;
        text-align: center;
        line-height: 30px;
    }

    #section3{
        height: 100vh;
        color: white;
        /* Padding pour que les cases ne se collent pas au bord de la fenêtre */
        padding:20px 0 50px;
        overflow: scroll;
    }

    .toggleDiv {
        width: 1024px;
        height: 100px;
        
        max-height: 0px;
        transition: max-height 0.5s ease-out, padding 0.5s ease-out;
    }

    #section4 {
        height: 100vh;
        color: white;
    }
        
    #section5 {
        padding-top: 200px;
        height: 100vh;
        color: white;
        overflow:scroll;
    }

    #section5 p {
        width: 80%;
        text-align: center;
        line-height: 30px;
    }

    #section6 {
        height: 100vh;
        color: white;
    }
/**/


/* Animation d'apparition*/
    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(10px); /* Légère remontée */
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

/* Bouton */
    .btn-orange {
        background: linear-gradient(90deg, #de5100, #ff2f00);
        color: white;
        text-decoration: none;
        padding: 10px 20px;
        margin: 20px;
        border-radius: 5px;
        font-weight: bold;
        background-size: 200%;
        transition: color 0.5s ease;
        border:none;
    }
    .btn-orange:hover {
        color: #004c54;
        background: linear-gradient(100deg, #de2900, #de5100);
    }

/* Conteneur des cartes */
    .projects-container {
        display: flex;
        justify-content: center; /* Centre les cartes */
        gap: 25px; /* Espace entre les cartes */
        flex-wrap: wrap; /* Cartes en colonne sur petits écrans */
    }

/* Style des cartes */
    .card {
        background: linear-gradient(135deg, #de5100, #de2900);
        border-radius: 8px; /* Coins arrondis */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre */
        width: 280px; /* Largeur fixe */
        padding: 20px;
        transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animation d'agrandissement */
        text-align: center;
    }

    /* Agrandissement au survol */
    .card:hover {
        transform: scale(1.05); /* Zoom à 105% */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre renforcée */
    }

    /* Titre des cartes */
    .card h2 {
        margin-bottom: 15px;
    }

    /* Liste des compétences */
    .card ul {
        padding: 0;
        list-style: none;
    }

    .card li {
        margin-bottom: 10px;
    }

    .VeilleCard{
        width: 800px;
    }