/* Page par défaut */
    body {
        margin: 0;
        font-family: Arial, sans-serif;
        background:#2c2e47;
        background-image: url('.\\Images\\Background_2.jpg');

        /* couleur  du texte et fond par défaut */
        color: white;
        background-size: cover;

        overflow-y:hidden;
        overflow-x:hidden;
    }
 /* Navbar horizontale transparente */
    #navbar {
        position:fixed;
        top: 0;
        left: 0;
        width: 100%;
        height : 100px;

         /* Contenu de la barre de navigation */
        display: flex;
        justify-content: center;
        padding: 25px;

        /* Couleur de fond */
        background-color: rgba(50, 50, 65, 0.9);  /* Bleu foncé légèrement transparent */

         /*Position de l'élément en profondeur. 0 serait sur la scrollbar */
        z-index: 10;

        opacity: 1; /* Visible par défaut */
        flex-direction: row;
        box-sizing: border-box;
    }

    /* conteneur des éléments du sommaire */
    .links ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        padding: 0;
        gap: 20px; /* Espacement entre les liens */
    }

    /* Liens lnkedin et github */
    .social-links  {
        margin-top: 10px;
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 10px; /* Espacement entre les liens */
    }

    /* éléments de la liste */
    .links li {
        margin: 0px 10px 0px 10px;
    }

    /* Texte du sommaire */
    .links a {
        color: white;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 10px; /* Espacement entre icône et texte */
        font-size: 1em;
    }

    .links a:hover {
        transition: color 0.5s ease;
        color: #ff7d00; /* Orange */
    }

    /* Styles des icônes du sommaire */
    .links .icon {
        font-size: 1.2em;
        display: inline-block;
    }
/* */





/* Contenu principal */
    .ScreenSection {
        display: flex;
        align-items: center;
        justify-content: start;
        animation: fadeIn 1s ease-in-out;
        font-size: 20px;
        background: rgba(45, 45, 70, 0.9);
        flex-direction: column; /* Les éléments s'empilent verticalement */
    }

    #SectionIndex {
        background-color: rgba(0, 0, 0, 0);
        font-size: 30px;
        height: 100vh;
        justify-content: center;
        
        /*Bordure du texte pour le rendre plus lisible */
        text-shadow: 2px 0 #323232, -2px 0 #323232, 0 2px #323232, 0 -2px #323232,
            1px 1px #323232, -1px -1px #323232, 1px -1px #323232, -1px 1px #323232;
    }


    #SectionProfil {
        height: 100vh;
    }
    #SectionProfil h1 {
        margin-top: 120px;
    }
    #SectionProfil p{
        width: 80%;
        text-align: center;
        line-height: 30px;
    }
    .minimized {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
    }
    .maximized {
        max-height: 100vh; /* Ajuste selon le contenu */
    }
    .presentationSIO {
        flex-shrink: 0;
        width: 80vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .presentationSIO .btn-orange {
        background: none;
        margin: 0px 10px 0px 10px;
    }
    .section-cadre {
        margin: 0px 10px 0px 10px;
        padding: 10px;
        border:solid;
        border-color: #ff7d00;
        border-radius:10px;
        flex: 1 1 0px;
    }
    .section-cadre p {
        width: 100%;
    }


    .btn-orange {
        background: linear-gradient(90deg, #de5100, #ff2f00);
        color: white;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 5px;
        font-weight: bold;
        background-size: 200%;
        transition: color 0.5s ease;
        border:none;
    }
    .btn-orange:hover {
        color: #004c54;
        background: linear-gradient(100deg, #de2900, #de5100);
    }


    #SectionProjets{
        height: 100vh;
        color: white;
        overflow: hidden;
        align-items: unset;

        /* Padding pour que les cases ne se collent pas au bord de la fenêtre */
        /*padding: 0 1vw 0 1vw;
        overflow: hidden;*/
    }
    #ListeProjets {
        left:1vw;
        top:110px;
        height: calc(100vh - 130px);
        width: 15vw;
        position:fixed;
        
        border:solid;
        border-color: #ff7d00;
        border-radius:10px;
        
        text-align:center;
        overflow-y:visible;
        overflow-x:hidden;
        scrollbar-width:thin;
    }
    #ListeProjets h3 {
        background: linear-gradient(90deg, #ff7d00, #de5100);
        height:30px;
    }
    #ListeProjets button{
        width: calc(90%);
        padding:5px;
        margin: 5px 0;
        font-size:16px;
        transition: transform 0.5s ease;
    }
    #ListeProjets button:hover{
        transform: scale(1.05); /* Zoom à 105% */
        color: #004c54;
        background: linear-gradient(100deg, #de2900, #de5100);
    }
    .CadreProjets {
        left: calc(16vw + 20px);
        top: 110px;
        height: calc(100vh - 130px);
        width: calc(98% - (16vw + 20px));
        position: fixed;

        border: solid;
        border-color: #ff7d00;
        border-radius: 10px;

        text-align: center;
        overflow-y:visible;
        overflow-x:hidden;
        /*overflow: scroll;*/
        scrollbar-width: thin;
    }
    .invisible {
        display:none;
    }
    .visible {
        display:block;
    }
    .fade-in {
        animation: fadeIn 0.4s linear;
    }
    .fade-out {
        animation: fadeOut 0.4s linear;
    }
    @keyframes fadeIn {
        from {
            opacity: 0;
            
        }
        to {
            opacity: 1;
        
        }
    }
    @keyframes fadeOut {
        from {
            opacity: 1;
            
        }
        to {
            opacity: 0;
        }
    }

    #tableauCompétences {
        height: 100vh;
        color: white;
    }

    #tableauCompétences iframe {
        width: 75%;
        height: calc(100% - 130px);
        margin-top: 110px;
        background: #e6e6e6;
        border-radius: 5px;
        
        /*width: 90%;
        margin-top: 10vh;
        height: 85vh;
        align-content: center;
        background-color: lightcyan;*/
    }
    iframe #document html{
        scrollbar-width: thin;
    }
        
    #veilleTechnologique {
        padding-top: 200px;
        height: 100vh;
        color: white;
        overflow:scroll;
    }

    #veilleTechnologique p {
        width: 80%;
        text-align: center;
        line-height: 30px;
    }

    #lexique {
        padding-top: 150px;
        height: calc(100vh - 150px);
        color: white;
        overflow:scroll;
    }
    .cadreLexique {
        display: flex;
        justify-content: center; /* Centre les cartes */
        gap: 20px; /* Espace entre les cartes */
        flex-wrap: wrap; /* Cartes en colonne sur petits écrans */
        
        padding-bottom:20px;
    }
    .caseLexique {
        text-align:center;
    }

    #contacter {
        padding-top: calc(100px + 20vh);
        height: 100vh;
        color: white;
    }
/**/
